<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:text="'Hello ' + ${moderator.getUsername()}">VALUE</a> <br>

    <h2>Users:</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.getId()}"></td>
            <td><a th:text="${user.getUsername()}" th:href="@{/moderator/user/{id}(id=${user.getId()})}"></a></td>
            <td th:text="${user.getEmail()}"></td>

        </tr>
        </tbody>
    </table>
<br>
    <a th:href="@{/moderator/user-management}" th:method="GET">
        <input type="button" value="User management"> <br>
    </a>

    <a href="/logout">Logout</a>

</body>
</html>